
#back h1{
    color:yellow;
    text-align: center;
    margin-top: 100px;
}
#back a{
    text-decoration: none;
    margin-left: 580px;
    color: yellow;

}
#back img{
    margin-top: 160px;
    margin-left: 850px;
}
#head h1{
    color: white;
    text-align: center;
}
#head h2{
    color: white;
margin-left: 350px;
    margin-bottom: -100px;
}
#head img{
    margin-left: 750px;
}
#head h2 a{
    text-decoration: none;
    color: white;
}